<div id="footer" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 company">
				<p>
					<a href="#/docs/contract">이용약관</a>
					<a href="#/docs/private">개인정보취급방침</a>
					<a href="/support">고객지원</a>
				</p>
				<p>
					(주)북잼 | 대표 조한열<br/>
                    사업자등록번호: 141-81-23429 |
                    통신판매업 신고번호: 제2012-서울강남-03328호
                    주소: 서울시 강남구 학동로 4길 18 스카이 빌딩 3층<br/>
                    대표전화: 1544-9101 |
					팩스 : 02-0000-0000 |
					개인정보보호관리책임자 : 홍길동 admin@bookjam.co.kr
				</p>
				<p>&copy; Bookjam Crop.</p>
			</div>
		</div>
	</div>
</div>

<!-- ajax load spinner -->
<div id="spinner-box">
	<img src="/images/common/rolling.svg">
</div>
