<nav class="navbar navbar-fixed-top">
    <div class="row bg-dark-blue">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="/images/common/junior_logo.png">
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/memberships">멤버십</a></li>
            <% if (!USER) { %>
                <li><a href="/users/login">로그인</a></li>
            <% } else { %>
                <li><a href="/users/mypage">MY PAGE</a></li>
                <li><a href="#" onclick="Users.logout();">로그아웃</a></li>
            <% } %>
                <li><a href="/support">고객센터</a></li>
                <li>
                    <a href="http://cafe.naver.com/bookjamjunior" target=_blank>
                        커뮤니티
                        <span class='glyphicon glyphicon-new-window'></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
