<% include layouts/head %>
<style>
html, body, .row, .container { height:100%; }
</style>
<body>

    <% include layouts/gnb %>

    <!-- 배너 -->
    <div class="row white">
        <div class="container">
            <iframe frameborder="0" marginheight="0" marginwidth="0" height="100%" width="100%" id="junior-cafe" onload="resizeIframe(this);"
                src="http://cafe.naver.com/bookjamjunior"></iframe>
        </div>
    </div>

<script type="text/javascript">
function resizeIframe(iframe) {
  iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
}
</script>

</body>
</html>
