<% include layouts/head %>

<body>

<div class="content-wrapper">
    <% include layouts/gnb %>

    <!-- TOP BANNER -->
    <div id="carousel-top-banners" class="carousel slide" data-ride="carousel" data-interval=5000>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/images/main/B_MAIN_TOP_001.jpg">
                <div class="carousel-caption">
                    <h4 class="mtb-fixed-txt"><span class="dblue">이렇게 새로운 북클럽,</span><strong class="dark-orange">북잼주니어</strong></h4>
                    <h2>종이책 전집 1,000만원? 가볍게 한 달 19,900원!</h2>
                </div>
            </div>

            <div class="item">
                <img src="/images/main/B_MAIN_TOP_002.jpg">
                <div class="carousel-caption">
                    <h4 class="mtb-fixed-txt"><span class="dblue">이렇게 새로운 북클럽,</span><strong class="dark-orange">북잼주니어</strong></h4>
                    <h2>언제 어디서나 매일매일 초등 책읽기의 새로운 습관</h2>
                </div>
            </div>

            <div class="item">
                <img src="/images/main/B_MAIN_TOP_003.jpg">
                <div class="carousel-caption">
                    <h4 class="mtb-fixed-txt"><span class="dblue">이렇게 새로운 북클럽,</span><strong class="dark-orange">북잼주니어</strong></h4>
                    <h2>마법천자문부터 WHO까지 인기 시리즈 1,000권을 담다</h2>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-top-banners" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-top-banners" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row bg-dblue" style="padding:30px 0;">
        <div class="container">
            <h3 class="col-xs-12 text-center" style="margin-bottom:30px;">
                비교하고, <strong style="font-weight:1000px;">다</strong> 잊으세요
            </h3>

            <div class="col-xs-12 col-sm-6 text-center" style="margin-bottom:20px;">
                <img src="/images/main/C_MAIN_001.png" width="85%">
            </div>
            <div class="col-xs-12 col-sm-6">
                <h5>안드로이드와 iOS, 태블릿과 스마트폰, 통신사를 가리지 않고 모두 지원합니다.</h5>
                <h5>초기 가입비, 해지 위약금, 추가 디바이스 구매 전혀 없습니다.</h5>
                <h5>한 달에 한 번, 멤버십 이용료로 끝!</h5>
            </div>
        </div>
    </div>

    <div class="row" style="padding:30px 0;">
        <div class="container">
            <h3 class="col-xs-12 text-center" style="margin-bottom:30px;">
                북잼주니어에는 <strong>어떤책</strong>이 있을까요?
            </h3>

            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <div id="carousel-mid-banners" class="carousel slide" data-ride="carousel" data-interval=3000>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <div class="item active"><img src="/images/main/B_MAIN_MID_001.jpg"></div>
                        <div class="item"><img src="/images/main/B_MAIN_MID_002.jpg"></div>
                        <div class="item"><img src="/images/main/B_MAIN_MID_003.jpg"></div>
                        <div class="item"><img src="/images/main/B_MAIN_MID_004.jpg"></div>
                        <div class="item"><img src="/images/main/B_MAIN_MID_005.jpg"></div>
                        <div class="item"><img src="/images/main/B_MAIN_MID_006.jpg"></div>
                        <div class="item"><img src="/images/main/B_MAIN_MID_007.jpg"></div>
                        <div class="item"><img src="/images/main/B_MAIN_MID_008.jpg"></div>
                        <div class="item"><img src="/images/main/B_MAIN_MID_009.jpg"></div>
                    </div>
                </div>
            </div>

            <h4 class="col-xs-12 text-center" style="margin:30px 0;">
                독서능력 진단검사를 통한 능력별 맞춤도서 350권
            </h4>
            <p class="col-xs-12 text-center" style="margin-bottom:30px;">
                미국 NICHD의 표준화된 독서 교육 방법론에 기초 <br/>
                독서 능력 향상을 위한 개인별 맞춤형 도서추천 시스템(독서 교실 멤버십 가입자 한전 부가서비스)
            </p>
        </div>
    </div>

    <div class="row bg-beige" style="padding:30px 0;">
        <div class="container">
            <h3 class="col-xs-12 text-center" style="margin-bottom:30px;">
                <strong>북잼주니어</strong>, 이렇게 이용하세요
            </h3>

            <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
                <img src="/images/main/C_MAIN_101.png">
                <h4>디지털 매거진</h4>
                <p style="color:#333;">매주 읽을 거리, 볼거리가 가득!</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
                <img src="/images/main/C_MAIN_102.png">
                <h4>바로 읽기</h4>
                <p style="color:#333;">언제 어디서나 바로 읽는 나만의 책장</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
                <img src="/images/main/C_MAIN_103.png">
                <h4>독후 활동</h4>
                <p style="color:#333;">감상문 쓰기, 평균 독서시간 자동기록</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
                <img src="/images/main/C_MAIN_104.png">
                <h4>디바이스 연동</h4>
                <p style="color:#333;">집에서는 태블릿, 밖에서는 스마트폰으로</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
                <img src="/images/main/C_MAIN_105.png">
                <h4>맞춤형 큐레이션</h4>
                <p style="color:#333;">교과연계 도서, 분야별 추천, 입상 도서</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 text-center">
                <img src="/images/main/C_MAIN_106.png">
                <h4>독서능력 진단평가</h4>
                <p style="color:#333;">레벨 확인, 능력별 맞춤도서 읽기 (부가서비스)</p>
            </div>
        </div>
    </div>

    <div class="row bg-dblue" style="padding:30px 0;">
        <div class="container">
            <h3 class="col-xs-12 text-center" style="margin-bottom:30px;">
                <strong>북잼주니어 멤버십</strong>에 가입하세요
            </h3>

            <div class="col-xs-12 col-sm-6 text-center bg-dark-orange" style="padding:30px;margin:10px 0;">
                <h3 style="margin-top:0;">북잼주니어 독서교실 멤버십</h3>
                <p>1개월 / 총 1,000권 무제한 이용 / 독서능력 진단평가 / 맞춤도서 350권</p>
            </div>
            <div class="col-xs-12 col-sm-6 text-center bg-dark-green" style="padding:30px;margin:10px 0;">
                <h3 style="margin-top:0;">북잼주니어 도서관 멤버십</h3>
                <p>1개월 / 총 1,000권 무제한 이용 / 초등 전학년</p>
            </div>

            <div class="col-xs-12 col-sm-4 text-center bg-light-green" style="padding:30px;margin:10px 0;">
                <h3 style="margin-top:0;">북잼주니어 도서관 멤버십 A</h3>
                <p>1개월 / 400여권 무제한 이용 / 초등 1~2학년</p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center bg-light-orange" style="padding:30px;margin:10px 0;">
                <h3 style="margin-top:0;">북잼주니어 도서관 멤버십 B</h3>
                <p>1개월 / 620여권 무제한 이용 / 초등 3~4학년</p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center bg-light-green" style="padding:30px;margin:10px 0;">
                <h3 style="margin-top:0;">북잼주니어 도서관 멤버십 C</h3>
                <p>1개월 / 470여권 무제한 이용 / 초등 5~6학년</p>
            </div>
        </div>
    </div>

    <div class="push"></div>
</div>
<% include layouts/footer %>

<script>
$(function(){

    //$('#carousel-top-banners').carousel();

});
</script>
</body>
</html>
