<% include layouts/head %>

<body>

<div class="content-wrapper">
    <% include layouts/gnb %>

    <div class="row">
        <div class="container">
            <h3>멤버십</h3>
            <hr/>
            <!-- item -->
            <div class="col-xs-12 col-sm-6 text-center">
                <div class="panel panel-danger panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <h3>북잼주니어 독서교실 멤버십</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>￦24,900 / 월</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> 초등학생 전학년</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> 총 1,000권 + 맞춤도서 350권</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> 독서능력 진단편가</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-danger" href="#">신청하기!</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <div class="panel panel-warning panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <h3>북잼주니어 도서관 멤버십</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>￦19,900 / 월</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> 초등학생 전학년</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> 총 1,000권</li>
                        <li class="list-group-item">-</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-warning" href="#">신청하기!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->

            <!-- item -->
            <div class="col-xs-12 col-sm-4 text-center">
                <div class="panel panel-success panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <h3>북잼주니어 독서교실 멤버십 A</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>￦9,900 / 월</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> 초등학생 1~2학년</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> 400여권</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="#">신청하기!</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
                <div class="panel panel-success panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <h3>북잼주니어 도서관 멤버십 B</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>￦9,900 / 월</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> 초등학생 3~4학년</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> 620여권</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="#">신청하기!</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
                <div class="panel panel-success panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <h3>북잼주니어 도서관 멤버십 C</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>￦9,900 / 월</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> 초등학생 5~6학년</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> 470여권</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="#">신청하기!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->

        </div>
    </div>




    <div class="push"></div>
</div>
<% include layouts/footer %>

<script>
$(function(){
    Users.getProducts(function(res){
        res.products.forEach(function(p){
            $('#membership-list').append('<li class="collection-item" style="height:55px;">' +
                '<div>' + p.title +
                '<span class="secondary-content"><a href="#" class="wave-effect waves-teal btn-flat">가입하기</a></span>' +
                '</div>' +
            '</li>');
        });
    });
});
</script>
</body>
</html>
