<% include layouts/head.ejs %>

<body>

<div class="content-wrapper">
    <% include layouts/gnb %>

    <div class="row">
        <div class="container">
            <h3 class="dblue">고객센터</h3>
            <hr/>

            <div class="col-xs-12 col-sm-6">
                <div class="bg-beige" style="padding:20px;margin-bottom:20px;">
                    <h1 class="text-center">
                        <i class="fa fa-phone-square" aria-hidden="true" style="margin-bottom:10px;"></i><br/>
                        1544-9101
                    </h1>
                    <p class="help-block text-center">
                        발신자 부담전화 / 상담시간은 평일 오전 9시 ~ 오후 6시 (토,일,공휴일 휴무)
                    </p>
                </div>

                <div class="bg-beige" style="padding:20px;margin-bottom:20px;">
                    <h1 class="text-center">
                        <i class="fa fa-question-circle" aria-hidden="true" style="margin-bottom:10px;"></i><br/>
                        <a href="http://cafe.naver.com/ArticleList.nhn?search.clubid=28964417&search.menuid=12&search.boardtype=L" target=_blank>
                            FAQ
                            <span class='glyphicon glyphicon-new-window' style="font-size:0.8em;"></span>
                        </a>
                    </h1>
                    <p class="help-block text-center">
                        먼저, 자주 묻는 질문들 카페에서 확인하세요.
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <h4>문의하기</h4>
                <hr/>

                <form id="support-form" method="post">
                    <div class="form-group">
                        <label for="user-email">이메일<span class="orange">*</span></label>
                        <input type="email" id="user-email" name="email" class="form-control input-lg" value="<%=(USER) ? USER.email : ''%>" required=1>
                    </div>
                    <div class="form-group">
                        <label for="user-phone">연락처</label>
                        <input type="text" id="user-phone" name="phone" class="form-control input-lg" required=1>
                    </div>
                    <div class="form-group">
                        <label for="user-memo">문의내용<span class="orange">*</span></label>
                        <textarea id="user-memo" name="memo" class="form-control" rows=6 required=1 no-resize></textarea>
                    </div>
                    <div class="help-block">
                        <span class="orange">*</span> 표시는 필수 입력 정보입니다.
                        유선상 지원이나 확인을 원하시면 연락처 정보도 입력해 주시기 바랍니다.
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">문의하기</button>
                    </div>
                </form>
            </div>

    </div>
</div>

    <div class="push"></div>
</div>
<% include layouts/footer %>

<script>
</script>
</body>
</html>
