@charset "UTF-8";

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

html, body {
    padding:0;
    margin:0;
    height:100%;
}

body {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif !important;
  /*font-family: "Nanum Gothic", sans-serif;*/
  background-color:#fff;
}

.content-wrapper {
	min-height:100%;
	margin:0 auto -250px;
	padding-top:80px;
}

/* GNB STYLE */

.navbar .row { height:80px; }

/* TOP BANNER STYLE */

.carousel-caption {
    top:0px;
    bottom: inherit;
    color:#000;
    text-shadow: none;
}

.mtb-fixed-txt { font-weight:normal; }
.mtb-fixed-txt span, .mtb-fixed-txt strong { display: inline-block; padding: 4px 0; }
.mtb-fixed-txt span { border-bottom:1px solid #3b6282; }
.mtb-fixed-txt strong { border-bottom:1px solid #e66200; }
.mtb-float-txt { position:absolute; top:70px; width:100%; text-align:center; color:#333; letter-spacing:-0.05em; font-size:1.7em; }

/* DEFAULT COLOR SET SWATCH */

.dark-blue { color:#224461; }
.dblue { color:#3b6282; }
.dark-beige { color:#e3d095; }
.beige { color:#f1e8cb; }
.dark-orange { color:#e66200; }
.orange { color:#f67d24; }
.light-orange { color:#fbc196; }
.dark-green { color:#307959; }
.light-green { color:#9dd8be; }

.bg-dark-blue { background-color:#224461; color:#fff; }
.bg-dblue { background-color:#3b6282; color:#fff; }
.bg-dark-beige { background-color:#e3d095; color:#224461; }
.bg-beige { background-color:#f1e8cb; color:#224461; }
.bg-dark-orange { background-color:#e66200; color:#fff; }
.bg-orange { background-color:#f67d24; }
.bg-light-orange { background-color:#fbc196; color:#f67d24; }
.bg-dark-green { background-color:#307959; }
.bg-light-green { background-color:#9dd8be; color:#307959; }

/* INPUT STYLE */

.input-lg,
.btn-lg,
.panel,
.form-control {
    border-radius:0;
}

/* SPINNER BOX */

#spinner-box {
    display:none;
	position:fixed;
	z-index:1300;
	width:90px; height:90px;
	color:#333;
	opacity:0.9;
	text-align:center;
	padding-top:5px;
	top:50%; left:50%;
	margin-left:-45px; margin-top:-45px;
	border-radius: 10px;
}

/* FOOTER STYLE */

.push { height:250px; }
#footer {
	height: 250px;
	padding:20px 0;
	background-color:#f1e8cb;
}
#footer p {
	font-size:0.9em;
	color:#999;
}
#footer p a {
	display:inline-block;
	color:#3b6282;;
	text-decoration:none;
	padding:2px;
	margin-right:5px;
	border-bottom:1px solid #3b6282;;
}

/* PRICING TABLE */
.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}
