<% include ../layouts/head.ejs %>

<body>

<div class="content-wrapper">
    <% include ../layouts/gnb %>

    <div class="row">
        <div class="container">

            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <h3 class="dblue">로그인</h3>
                <hr/>

                <form id="login-form" method="post">
                <input type="hidden" id="channel" name="channel" value="bookjam">
                    <div class="form-group">
                        <input type="text" id="user-email" name="email" class="form-control input-lg" placeholder="이메일" required=1>
                    </div>
                    <div class="form-group">
                        <input type="password" id="user-passwd" name="password" class="form-control input-lg" placeholder="비밀번호" required=1>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember-login">
                            로그인 유지
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block bg-dblue">로그인</button>
                    </div>
                    <div class="form-group text-right">
                        <a href="/users/register">계정 만들기</a> |
                        <a href="/users/password">비밀번호 바꾸기</a>
                    </div>
                </form>

                <hr/>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;
                            페이스북 계정으로 로그인
                        </h4>
                    </div>

                    <div class="panel-body">
                        <form id="facebook-login-form">
                            <div class="form-group" style="margin-bottom:30px;">
                                <p class="checkbox" style="margin-bottom:30px;">
                                    <label>
                                        <input type="checkbox" id="check-all" data-toggle="agreement">
                                        전체동의
                                    </label>
                                </p>
                                <p class="checkbox">
                                    <label>
                                        <input type="checkbox" class="agreement">
                                        북잼주니어 이용약관 <span class="orange">(필수)</span>
                                    </label>
                                    <a href="#">[약관보기]</a>
                                </p>
                                <p class="checkbox">
                                    <label>
                                        <input type="checkbox" class="agreement">
                                        개인정보 수집 및 이용에 대한 안내 <span class="orange">(필수)</span>
                                    </label>
                                    <a href="#">[안내보기]</a>
                                </p>
                            </div>
                            <div class="form-group">
                                <a href="#facebook-login" class="btn btn-primary btn-lg btn-block">가입/로그인</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="push"></div>
</div>
<% include ../layouts/footer %>

<script>
$(function(){
  $('#req-activate-email').modal();
});
</script>


<script>
$(function() { // domready

  $('#login-form').submit(function(e){
      e.preventDefault();
      var userData = {
          'channel': $('#channel').val(),
          'email': $('#user-email').val(),
          'password': $('#user-passwd').val()
      }
      Users.login(userData, function(res){
          if (res.code == '200') {
            if (res.activated != 'yes') {
              $('#req-activate-email').modal('open');
              return;
            }
            // success login process
            if ($('#remember_login').prop('checked')) Cookies.set('auth_token', res.auth_token, 90); // 90 days
            mToast('로그인에 성공했습니다');
            goUrl('/');
            return;
          }

          Materialize.toast('로그인 정보가 맞지 않습니다. 이메일과 비밀번호를 확인해 주세요.', 3000);
      });
  });

});
</script>

</body>
</html>
