<% include ../layouts/head.ejs %>

<body>

<div class="content-wrapper">
    <% include ../layouts/gnb %>

    <div class="row">
        <div class="container">
            <h4 class="dark-blue">My Page</h4>
            <input type="hidden" id="user-id" name="user-id" value="<%=USER.id%>" />

            <div class="container">
                <% if (USER) { %>
                <h5 id="user-info">
                    <%=USER.email%>
                    <small>(<%=USER.name%>)</small>
                </h5>

                <h5>멤버십</h5>
                <ul id="membership-list" class="collection"></ul>
                <% } %>

                <h4>구매기록</h4>
                <ul id="purchased"></ul>
            </div>
        </div>

        <div class="container">
            <h4>
                내 책장
                <span id="total-items-count">(0)</span>
            </h4>
            <ul id="my-bookshelf"></ul>
        </div>
    </div>

    <div class="push"></div>
</div>
<% include ../layouts/footer %>

<script>
$(function(){

    Users.getMemberships(function(res){
        var memberships = res.memberships;
        $('#membership-list').empty();
        memberships.forEach(function(m){
            $('#membership-list').append(
                '<li class="collection-item">' + m.membership_id +' : ' +
                    fromUnixTimestamp(m.subscription_info.created_at, 'Y년 m월 d일부터') + ' ~ ' +
                    fromUnixTimestamp(m.subscription_info.expired_at, 'Y년 m월 d일까지') +
                '</li>');

            Users.getBooks(m.product_id, function(res){
                console.log(res);
                books = res.product.items;
                $('#total-items-count').text('('+books.length.toLocaleString()+')')

                books.forEach(function(item) {
                    Users.getCovers(item, function(cover){
                        $('#my-bookshelf').append('<img src="'+cover.href+'" width="100px">');
                    });
                });
            });
        });
    });
/*
    Users.getPurchases(function(res){
        console.log(res);
    });
*/
});
</script>
</body>
</html>
