<% include ../layouts/head.ejs %>

<body>

<div class="content-wrapper">
    <% include ../layouts/gnb %>

    <div class="row">
        <div class="container">

            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <h3 class="dblue">비밀번호 바꾸기</h3>
                <hr/>

                <form id="reset-password-form" method="post">
                    <div class="form-group">
                        <input type="email" id="user-email" name="email" class="form-control input-lg" placeholder="이메일" required=1>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-lg btn-block">이메일 전송</button>
                    </div>
                </form>
            </div>
                
        </div>
    </div>

    <div class="push"></div>
</div>
<% include ../layouts/footer %>

</body>
</html>
