<% include ../layouts/head.ejs %>

<body>

<div class="content-wrapper">
    <% include ../layouts/gnb %>

    <div class="row">
        <div class="container">

            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <h3 class="dblue">계정 만들기</h3>
                <hr/>

                <form id="register-form" method="post">
                    <div class="form-group">
                        <input type="email" id="user-email" name="email" class="form-control input-lg" placeholder="이메일" required=1>
                    </div>
                    <div class="form-group">
                        <input type="password" id="user-passwd" name="password" class="form-control input-lg" placeholder="비밀번호" required=1>
                    </div>
                    <div class="form-group">
                        <input type="password" id="user-passwd2" name="password" class="form-control input-lg" placeholder="비밀번호 확인" required=1>
                    </div>
                    <div class="form-group">
                        <input type="text" id="user-name" name="name" class="form-control input-lg" placeholder="이름" required=1>
                    </div>

                    <div class="form-group">
                        <p class="checkbox" style="margin-bottom:30px;">
                            <label>
                                <input type="checkbox" id="check-all" data-toggle="agreement">
                                전체동의
                            </label>
                        </p>
                        <p class="checkbox">
                            <label>
                                <input type="checkbox" class="agreement">
                                만 14세 이상입니다.
                            </label>
                        </p>
                        <p class="checkbox">
                            <label>
                                <input type="checkbox" class="agreement">
                                북잼주니어 이용약관 <span class="orange">(필수)</span>
                            </label>
                            <a href="#">[약관보기]</a>
                        </p>
                        <p class="checkbox">
                            <label>
                                <input type="checkbox" class="agreement">
                                개인정보 수집 및 이용에 대한 안내 <span class="orange">(필수)</span>
                            </label>
                            <a href="#">[안내보기]</a>
                        </p>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">만들기</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="push"></div>
</div>
<% include ../layouts/footer %>

<script>
$('#register-form').submit(function(e){
    e.preventDefault();
    if ($.trim($('#user-email').val()) == '') {
        mToast('이메일 아이디를 입력해 주세요.');
        $('#user-email').focus(); return false;
    }
    if ($.trim($('#user-passwd').val()).length < 8) {
        mToast('비밀번호를 입력해주세요.');
        $('#user-passwd').focus(); return false;
    }
    if ($('#user-passwd').val() != $('#user-passwd2').val()) {
        mToast('비밀번호 확인이 일치하지 않습니다.');
        return false;
    }
    if ($.trim($('#user-name').val()) == '') {
        mToast('회원이름을 입력해 주세요.');
        $('#user-name').focus();
        return false;
    }
    if (!checkAgreements('.agreement', '약관에 모두 동의하셔야 가입하실 수 있습니다.')) return false;

    var userData = {
        'channel': 'bookjam',
        'email': $.trim($('#user-email').val()),
        'password': $('#user-passwd').val(),
        'name': $.trim($('#user-name').val())
    };

    Users.register(userData, function(res) {
        console.log(res);
    });
});
</script>

</body>
</html>
